*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
}
ul,li {
    list-style:none;
}

a{
    color:#333;
}

.footer{
    background:#000;
    color:#fff;
}
